@* ITC172 Final Project requirement:
    There should be a page that handles a sale and the sale details.*@
@model Baked.Models.Product
@{
    ViewBag.Title = "Baked @ Eat That";
}

<h2>I want to Eat That:</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("ProductKey", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductKey, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Order That" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}